<div class="guests-page">
  <div class="container">
    <div class="row">
      <div class="col">
        <header class="d-flex justify-content-between align-items-center my-5">
          <h1>Guests</h1>
        </header>

        <table class="table mt-5">
          <tbody>
            <% @guests.each do |guest| %>
              <tr>
                <td class="guest-info">
                  <%= guest.name %> <%= guest_status(guest) %>
                  <small><%= guest.email %></small>
                </td>
                <td class="text-right">
                  <%= link_to icon("fas", "check"), going_guest_path(guest), class: "btn btn-outline-success #{guest.going? ? "disabled" : ""}"  %>
                  <%= link_to icon("fas", "times"), not_going_guest_path(guest), class: "btn btn-outline-danger #{guest.not_going? ? "disabled" : ""}" %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
